.main_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.daelimlink{
    background-color: black;
}
.daelimlink a{
    background-color: black;
    animation-name: estelas;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: none;
    animation-delay: 5s;
    animation-fill-mode:forwards;
    -webkit-text-stroke-color: #FF0099;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 0 .1em, 0 0 .3em #FF66CC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FF0099;
}
.star p{
    margin: 0;
    padding: 0;
}
.comment{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 400px;
    background-color: transparent;
    margin-top: 100px;
}
.comment img{
    width: 300px;
}
.comment h1{
    color: #c0c0c0;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-left: 20px;
}
.comment h2{
    color: #c0c0c0;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-left: 20px;
}
.comment h3{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    text-align: left;
    box-sizing: border-box;
    margin-top: 70px;
    padding-left: 100px;
    text-decoration: none;
    transition: 0.1s;
    animation-name: estelas;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: none;
    animation-delay: 5s;
    animation-fill-mode:forwards;
    text-shadow: 0 0 .1em, 0 0 .3em #B884CB;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B884CB;
}
.comment h4{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 200px;
    text-align: left;
    margin: 0 0 70px 0;
    transition: 0.1s;
    animation-name: estelas;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: none;
    animation-delay: 5s;
    animation-fill-mode:forwards;
    text-shadow: 0 0 .1em, 0 0 .3em #B884CB;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B884CB;
}
.comment h5{
    color: #c0c0c0;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 230px;
    text-align: left;
    --animate-duration: 4s;
}
.comment h6{
    color: #c0c0c0;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 170px;
    text-align: left;
    --animate-duration: 5s;
}
.comment h7{
    color: #c0c0c0;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 150px;
    text-align: left;
    --animate-duration: 6s;
}
@keyframes estelas {
    from {opacity:0;}
    to {opacity:1;}
}
.video{
    margin-top: 50px;
    width: 900px;
    height: 500px;
}
.text1{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    height: 150px;
    background-color: transparent;
    margin-top: 50px;
}
.leftLine{
    border-left: 1px solid #c0c0c0;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: transparent;
}
.text1 h1{
    color: #c0c0c0;
    height: 150px;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    box-sizing: border-box;
    padding-right: 40px;
}
.text1 h2{
    color: #c0c0c0;
    font-size: 1rem;
    background-color: transparent;
}
.text1 h3{
    color: #c0c0c0;
    font-size: 1rem;
    background-color: transparent;
}
.text1 h4{
    color: #c0c0c0;
    font-size: 1rem;
    background-color: transparent;
}
.celebration{
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    padding: 30px 300px 0 300px;
    background: linear-gradient( to bottom, #B884CB, #1D252D);
}
.celebration img{
    position: absolute;
    right: 50%;
    left: 30%;
    margin-top: 500px;
}
.celebration p{
    color: #c0c0c0;
    background-color: transparent;
    font-size: 1.5rem;
}
.celebration h1{
    color: #c0c0c0;
    background-color: transparent;
}
.celebration b{
    color: #c0c0c0;
    background-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B884CB;
}
.celebration h2{
    color: #c0c0c0;
    position: absolute;
    right: 0;
    margin-right: 300px;
    font-size: 1rem;
    width: 500px;
    height: 600px;
    overflow: auto;
    background-color: transparent;
}
.animate__animated {
    --animate-duration  : 500ms;
    --animate-delay     : 0;
}

/* 해당 요소에만 적용 */
.poster1 {
    --animate-duration: 2s;
}
.sky{
    position: absolute;
}
.far{
    background-color: black;
    position: absolute;
    z-index: 99;
}
.fa-asterisk {
    position: absolute;
    font-size: 13px;
}
.star1 {
    top: 70px;
    left: 90px;
    animation: star-one 1.2s infinite;
    background-color: transparent;
}

.star2 {
    top: 50px;
    right: 110px;
    animation: star-two 1.7s infinite;
    background-color: transparent;
}

.star3 {
    top: 180px;
    left: 45px;
    animation: star-three 1.5s infinite;
    background-color: transparent;
}

.star4 {
    top: 120px;
    right: 40px;
    font-size: 5px;
    animation: star-five 1.9s infinite;
    background-color: transparent;
}

.star5 {
    top: 150px;
    right: 30px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star6 {
    top: 136px;
    right: 80px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star7 {
    top: 170px;
    right: 45px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star8 {
    top: 175px;
    left: 80px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star9 {
    top: 200px;
    left: 90px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star10 {
    top: 180px;
    left: 120px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star11 {
    top: 180px;
    left: 200px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star12 {
    top: 50px;
    left: 240px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star13 {
    top: 80px;
    left: 300px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star14 {
    top: 120px;
    left: 330px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star15 {
    top: 150px;
    left: 340px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star16 {
    top: 170px;
    right: 330px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star17 {
    top: 180px;
    right: 350px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star18 {
    top: 80px;
    right: 240px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star19 {
    top: 100px;
    right: 200px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star20 {
    top: 170px;
    right: 220px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star21 {
    top: 178px;
    left: 328px;
    animation: star-one 1.2s infinite;
    background-color: transparent;
}
.star22 {
    top: 245px;
    right: 506px;
    animation: star-two 1.7s infinite;
    background-color: transparent;
}
.star23 {
    top: 298px;
    left: 552px;
    animation: star-three 1.5s infinite;
    background-color: transparent;
}
.star24 {
    top: 192px;
    right: 619px;
    font-size: 5px;
    animation: star-two 1.9s infinite;
    background-color: transparent;
}
.star25 {
    top: 317px;
    right: 675px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star26 {
    top: 259px;
    right: 763px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star27 {
    top: 295px;
    right: 677px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star28 {
    top: 322px;
    left: 580px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star29 {
    top: 210px;
    left: 568px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star30 {
    top: 180px;
    left: 120px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star31 {
    top: 75px;
    left: 200px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star32 {
    top: 60px;
    left: 240px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star33 {
    top: 65px;
    left: 300px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star34 {
    top: 55px;
    left: 330px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star35 {
    top: 30px;
    left: 340px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star36 {
    top: 70px;
    right: 330px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star37 {
    top: 80px;
    right: 350px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star38 {
    top: 80px;
    right: 240px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star39 {
    top: 20px;
    right: 400px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star40 {
    top: 200px;
    right: 220px;
    font-size: 5px;
    animation: star-four 2s infinite;
    background-color: transparent;
}
.star41 {
    top: 270px;
    left: 90px;
    animation: star-one 1.2s infinite;
    background-color: transparent;
}

.star42 {
    top: 250px;
    right: 110px;
    animation: star-two 1.7s infinite;
    background-color: transparent;
}

.star43 {
    top: 380px;
    left: 45px;
    animation: star-three 1.5s infinite;
    background-color: transparent;
}

.star44 {
    top: 320px;
    right: 40px;
    font-size: 5px;
    animation: star-five 1.9s infinite;
    background-color: transparent;
}

.star45 {
    top: 350px;
    right: 30px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star46 {
    top: 336px;
    right: 80px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star47 {
    top: 370px;
    right: 45px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star48 {
    top: 375px;
    left: 80px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star49 {
    top: 400px;
    left: 90px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star50 {
    top: 380px;
    left: 120px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star51 {
    top: 380px;
    left: 200px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star52 {
    top: 250px;
    left: 240px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star53 {
    top: 280px;
    left: 300px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star54 {
    top: 320px;
    left: 330px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star55 {
    top: 350px;
    left: 340px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star56 {
    top: 370px;
    right: 330px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star57 {
    top: 380px;
    right: 350px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star58 {
    top: 280px;
    right: 240px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star59 {
    top: 300px;
    right: 200px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star60 {
    top: 370px;
    right: 220px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star61 {
    top: 378px;
    left: 328px;
    animation: star-one 1.2s infinite;
    background-color: transparent;
}
.star62 {
    top: 445px;
    right: 506px;
    animation: star-two 1.7s infinite;
    background-color: transparent;
}
.star63 {
    top: 498px;
    left: 552px;
    animation: star-three 1.5s infinite;
    background-color: transparent;
}
.star64 {
    top: 592px;
    right: 619px;
    font-size: 5px;
    animation: star-two 1.9s infinite;
    background-color: transparent;
}
.star65 {
    top: 517px;
    right: 675px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star66 {
    top: 359px;
    right: 763px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star67 {
    top: 495px;
    right: 677px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star68 {
    top: 422px;
    left: 580px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star69 {
    top: 410px;
    left: 568px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star70 {
    top: 380px;
    left: 120px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star71 {
    top: 575px;
    left: 200px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star72 {
    top: 460px;
    left: 240px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star73 {
    top: 465px;
    left: 300px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star74 {
    top: 455px;
    left: 330px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star75 {
    top: 530px;
    left: 340px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star76 {
    top: 370px;
    right: 330px;
    font-size: 5px;
    animation: star-two 2s infinite;
    background-color: transparent;
}
.star77 {
    top: 380px;
    right: 350px;
    font-size: 5px;
    animation: star-five 2s infinite;
    background-color: transparent;
}
.star78 {
    top: 480px;
    right: 240px;
    font-size: 5px;
    animation: star-one 2s infinite;
    background-color: transparent;
}
.star79 {
    top: 220px;
    right: 400px;
    font-size: 5px;
    animation: star-three 2s infinite;
    background-color: transparent;
}
.star80 {
    top: 400px;
    right: 220px;
    font-size: 5px;
    animation: star-four 2s infinite;
    background-color: transparent;
}

@keyframes star-one {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-two {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-three {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-four {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes star-five {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

